<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" type="text/css" href="/static/css/ejercicio1.css">

</head>
<body>
    <h1>Formulario de Notas</h1>
    <div class="form-container">
        <form method="post">
            <label>Nota 1:</label>
            <input type="number" name="nota1" min="10" max="70" required>

            <label>Nota 2:</label>
            <input type="number" name="nota2" min="10" max="70" required>

            <label>Nota 3:</label>
            <input type="number" name="nota3" min="10" max="70" required>

            <label>Asistencia (%):</label>
            <input type="number" name="asistencia" min="0" max="100" required>

            <button type="submit">Enviar</button>
        </form>

       {% if promedio is not none and estado is not none %}
            <p>{{ promedio }}</p>
            <p>{{ estado }}</p>
        {% endif %}
    </div>
</body>
</html>